<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_waqt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_waqt"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waqt"
        tools:targetApi="31" >
        <activity
            android:name=".activities.QiblaFinderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllQuranActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuranActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AllDuasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DuaActivity"
            android:exported="false" />

        <receiver
            android:name=".widget.PrayerTimesWidgetProvider"
            android:exported="false"
            android:label="Waqt Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".services.SilentModeControlReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="START_SILENT_MODE" />
                <action android:name="STOP_SILENT_MODE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.SilentModeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />

        <receiver
            android:name=".activities.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.AlarmJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".services.SilentModeReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="START_SILENT_MODE" />
                <action android:name="STOP_SILENT_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>